<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field:name, :value => current_user.name %>
  </div>
  <div class="field">
    <%= f.hidden_field :description, :value => current_user.description %>
  </div>
  <div class="field">
    <%= f.hidden_field :address, :value => current_user.address %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id%>
  </div>
  <div class="field">
    <%= f.hidden_field :exchange_id, :value => params[:xyz] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
