<p id="notice"><%= notice %></p>
<h3>Giftee will be populated once dealine is reached</h3>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<%if current_user && @profile.user_id == current_user.id then%>
<p>
  <strong>Giftee:</strong>
  <%= @profile.giftee%>
  </p>
<%end%>

<p>
  <strong>Exchange:</strong>
  <%= @profile.exchange.id %>
</p>

<%= link_to 'Back', :back %>
