<p id="notice"><%= notice %></p>

<h1>Listing Bridges</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Exchange</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bridges.each do |bridge| %>
      <tr>
        <td><%= bridge.user_id %></td>
        <td><%= bridge.exchange_id %></td>
        <td><%= link_to 'Show', bridge %></td>
        <td><%= link_to 'Edit', edit_bridge_path(bridge) %></td>
        <td><%= link_to 'Destroy', bridge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bridge', new_bridge_path %>
