<p id="notice"><%= notice %></p>

<header class="bgimage">
  <div class="container title">
    <h1>Gift Exchanges</h1>
  </div>
</header>
<br>


<div class="container">
<% if current_user then %>
  <%= link_to 'Create New Exchange', new_exchange_path, {:style=>'color:#FFFFFF', class: 'btn btn-large btn-primary'} %>
<%end%>

<%if @yourExchanges then%>
<h1>Your Exchanges</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sign-Up Deadline</th>
      <th>Exchange Date</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yourExchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.name %></td>
        <td><%= exchange.Description %></td>
        <td><%= exchange.Deadline %></td>
        <td><%= exchange.Date %></td>
        <td><%= exchange.user.name %></td>
        <td><%= link_to 'View', exchange, {:style=>'color:#FFFFFF', class: 'btn btn-sm btn-primary'} %></td>
        <%if current_user && exchange.user.id == current_user.id then%>
          <td><%= link_to 'Edit', edit_exchange_path(exchange), {:style=>'color:#FFFFFF', class: 'btn btn-sm btn-primary'} %></td>
          <td><%= link_to 'Delete', exchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<h1>Other Exchanges</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sign-Up Deadline</th>
      <th>Exchange Date</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @otherExchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.name %></td>
        <td><%= exchange.Description %></td>
        <td><%= exchange.Deadline %></td>
        <td><%= exchange.Date %></td>
        <td><%= exchange.user.name %></td>
        <td><%= link_to 'View', exchange, {:style=>'color:#FFFFFF', class: 'btn btn-sm btn-primary'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
