<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exchange.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exchange.Description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @exchange.Deadline %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exchange.Date %>
</p>

<p>
  <strong>User:</strong>
  <%= @exchange.user.name %>
  </p>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @profiles.each do |profile| %>
          <tr>
          <td><%= profile.name %></td>
          <td><%= profile.description %></td>
          <td><%= profile.address %></td>
          <td><%= link_to 'Show', profile %></td>
          <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
          <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Profile', new_profile_path(:xyz => @exchange.id) %>
      

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
