<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exchange.name %>
</p>

<p>
  <strong>Descripton:</strong>
  <%= @exchange.descripton %>
</p>

<p>
  <strong>Dealine:</strong>
  <%= @exchange.dealine %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exchange.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @exchange.user.name %>
  </p>

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
